<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div class="field", style="color: white;">
    <%= form.label :iamge %>
    <%= form.file_field :image%>
  </div>
  <br>
  <div>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>
    <% article.errors.full_messages_for(:rating).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
  <br>
  <div>
    <li><%= link_to "Back", root_path %></li>
  </div>
<% end %>
