<h1>Movies</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <div class="title">
        <%= link_to article.title, article %>
      </div>
      <br>
      <% if article.image.attached? %>
        <div style="width:300px; height:auto">
          <%= image_tag(article.image, style:'width:100%') %>
        </div>
      <% end %>
      <br>
      <p><%= article.body %></p>
      <p>rating: <%= article.rating %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add Movie", new_article_path %>


