<h1>Movies</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <div class="title">
        <%= link_to article.title, article %>
      </div>
      <br>
      <% if article.image.attached? %>
        <div style="width:300px; height:auto">
          <%= image_tag(url_for(article.image), style:'width:100%') %>
        </div>
      <% end %>
      <br>
      <p><%= article.body %></p>
      <p>rating: <%= article.rating %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add Movie", new_article_path %>

<br>
<br>
<br>
<br>

<div class="credits">
  <h1>Credits</h1>
  <ul class="credits_list">
    <li><a href="https://rubyonrails.org" target="_blank">RubyOnRails</a></li>
    <li><a href="https://www.heroku.com" target="_blank">Heroku</a></li>
    <li><a href="https://screenrant.com/best-movies-ever-made-imdb-rating" target="_blank">The 15 Best Movies Of All Time..." list by Colin McCormick"</a></li>
  </ul>
</div>



