<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.image.attached? %>
  <div style="width:500px; height:auto">
    <%= image_tag(url_for(@article.image), style:'width:100%') %>
  </div>
<% end %>

<p>rating: <%= @article.rating %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>

  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
                  
  <li><%= link_to "Back", root_path %></li>
</ul>
